name: "Static Security Scan"

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
      - name: Static Security Scan
        uses: securego/gosec@a459eb0ba387d9bd083d5c2e2354dbeef2465038
        with:
          # For now, exclude some rules that we currently have issues with, so that PR merges won't be blocked.
          # After we address those issues, we shall remove the excluded rules.
          args: "-no-fail -fmt csv -out results.csv -stdout -verbose=text -exclude-generated -exclude-dir=template.go -exclude-dir=sample_code -exclude-dir=node_modules/aws-cdk -exclude-dir=cdk.out ./..."
      - name: Check results for issues
        # csv file does not include "golang errors." If the scan finds no issue, the csv file size will be 0.
        # The follow command will fail if gosec finds some issues.
        run: cat results.csv; echo "if [ -s results.csv ]; then exit 1; fi" | sh
