# name: markdown lint
# on: [push]
# jobs:
#   sdk:
#     runs-on: ubuntu-latest
#     steps:
#       - name: git clone
#         uses: actions/checkout@v3

#       - name: set up Node.js
#         uses: actions/setup-node@v3
#         with:
#           node-version: "14"

#       - name: install markdownlint-cli2
#         run: |
#           npm install markdownlint-cli2 --global

#       - name: run markdownlint-cli2
#         run: |
#           markdownlint-cli2 "**/*.md"
